:root{
--navbar-top:#053f5c;
--navbar-titre:#fff;
}

[data-theme="dark"]{
    --navbar-top:linear-gradient(to top,#1aa7ec,#4adede);
    --navbar-titre:#053f5c;
}

.navbar-top{
    background: var(--navbar-top);
    width: 140em;
    height: 5em;
    position: fixed;
    top: 0; 
    margin-bottom: 5em;
}
.navbar-titre{
    color:var(--navbar-titre) ;
    padding: 2em 1em;
    font-size: 1em;
    text-transform: uppercase;
}
.search2{
margin: -3.5em;
margin-left:65em;
}
.logout{
    margin-left:82em;
    margin-top: 1.5em;
}
