:root{
    --body_background:#f5f5f5;
    --container-navbar-left: #053f5c;
    --title-card1:#10054e;
    --title-card3:#216464;;
    --title-logo:#d3def1;
    --container-link:#d0d6e9;
    --color-card2:#14161e;
}

[data-theme="dark"]{
    --body_background:#14161e;
    --container-navbar-left: #1b223299;
    --card-color: #1b223299;
    --title-card1:rgba(255, 255, 255, 0.5);
    --title-card3: #4bc0c0;;
    --title-logo:#4adede;
    --container-link:#9aa8c9a6;
    --color-card2:rgba(255, 255, 255, 0.5);
}


.button{
    display: block;
    margin: 1em 1em 0 auto;
    background-color: #566d94;
    background-color: #4bc0c0;
    width: 60px;
    height: 30px;
    border-radius: 40px;
    position: relative;
}
.button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 25px;
    height:25px;
    margin: 2px;
    border-radius: 50%;
}

.card{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0,0,0, 0.3);
    margin:2em 2em;
 
}
.card1{
    background-color:var(--card-color);
}
.card2{
    width: 97%;
    height: 220px;
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0,0,0, 0.3);
    margin: 2em 1em 5em 2em;
    background-color:var(--card-color);
    color: var(--color-card2);
}


.container-center{
    width: 40%;
    margin: 5em 0 0 4em;
    display: flex;
}

.container-home{
    background-color: var(--body_background);
    display: flex;

}
.container-link{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--container-link);
  font-size: 0.9em;
}
.container-navbar-left{
    width: 250px;
    height: 66em;
    background-color: var(--container-navbar-left);
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0,0,0, 0.3);
    margin:8px;
}
.container-logo{
    margin: 2em auto 6em;
    width: 25%;
}
.history-entree{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5em;
    margin-bottom: -1.5em;
    margin-left: 4em;

}
.history1{
margin-top: 2em;
}
.history-nom{
    width: 15%;
}
.history-date{
    width: 45%;
}
.history-title-entry{
    margin: -1em 0em 0em 2em;
    color: var(--title-card3);
    font-weight: 200;
    font-size: 1.4em;
}
.image-icone{
    margin-right: 25px;
}
.image-card{
    margin-top: -1.5em;
    margin-right: -2.2em;
}
.image-utilisateur{
    margin-top: 1em;
}
input:checked + .button{
   /* background-color: #2c2a2a;*/
   background-image: linear-gradient(#6baace, #264783);
}
input:checked + .button::before{
   transform: translateX(30px);
}
input[type="checkbox"]{
    display: none;
}
.ligne{
    width: 8em;
    height: 0.1em;
    background-color: #216464;
    margin-top: -3em;
    margin-left: 3.9em;
}
.logo{
    width: 8em;
    margin: 2em -3em 0em;
}
.main-card{
    display: flex;
    width: 66em;
    margin: 0em auto 0;
}
.title-link{
    margin:3em 0 0 2.9em;
    color:rgba(255, 255, 255, 0.5);
    font-size: 0.95em;
}
.title-card1{
    color:var(--title-card1);
}
.title-card3{
    margin: 2em ;
    margin-left: -22em;
    color: var(--title-card3);
    text-transform: uppercase;
    font-weight: 350;
}
.title-logo{
   /* background: linear-gradient(to top,#1aa7ec,#4adede);
    -webkit-background-clip: text;
    background-clip: text;*/
    color: #1aa7ec;
    margin-top:0.2em;
    margin: 1em 0 0 -1em;
    font-size: 1.6em;
}
.sortie{
    width: 15px;
    height: 15px;
}
.navbar{
    margin-top:-1.5em
}