:root{
    --body_background2:#e7ecf8;
    --body_background:#fff;
    --container-navbar-left: #053f5c;
    --title-card1:#10054e;
    --title-card3:#216464;;
    --title-logo:#d3def1;
    --container-link:#d0d6e9;
    --color-card2:#14161e;
    --card-color:#ffffff;
    --utilisateur:#053f5c;
    --utilisateur2:#053f5c;
}

[data-theme="dark"]{
    --body_background:#14161e;
    --body_background2:#14161e;
    --container-navbar-left: #1b223299;
    --card-color: #1b223299;
    --title-card1:rgba(255, 255, 255, 0.5);
    --title-card3: #4bc0c0;;
    --title-logo:#4adede;
    --container-link:#9aa8c9a6;
    --color-card2:rgba(255, 255, 255, 0.5);
    --utilisateur:#2faaaa;
    --utilisateur2:#4adede;
}
/*Notif*/
.div-notif-show{
    z-index: 6;
    position: absolute;
}
.notif-show{
    width: 20em;
    height: auto;
    margin-left: -20em;
    margin-top: -1em;
    background-color: #053f5c;
    padding: 20px;
    line-height: 1.5em;
    color: white;
    padding-bottom: 30px;
    border: 1px solid white;
}
.notif-read{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 15px auto 30px;
}
.btn-read{
    border: none;
    background-color: #fff;
    color: #053f5c;
    padding: 5px;
    margin-left: -28px;
}
.link-read{
    border: none;
    background-color: #fff;
    color: #053f5c;
    padding: 8px;
    width: 5em;
    text-decoration: none;
    text-align: center;
}
.settings{
    display: flex;
}
.notif2{
    width: 2em;
    margin-top: 0.8em;
    margin-bottom: 2em;
    margin-left: 1em;
    position: relative;
}
.counter{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.8em;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1.7em;
    right: 31px;
}

/*Darkmode*/
.button{
    display: block;
    margin-top: 1em ;
    background-color: #566d94;
    background-color: #053f5c;
    width: 60px;
    height: 30px;
    border-radius: 40px;
    position: relative;
}
.button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 25px;
    height:25px;
    margin: 2px;
    border-radius: 50%;
}
.navbar-horizontal{
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
.cercle-utilisateur{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: var(--utilisateur);
    margin-bottom: 1em;
   
}

.navbar-flex{
    display: flex;
    width: 7em;
    justify-content: space-between;
    float: right;
}

.utilisateur{
    margin-top: 1em;
    margin-left: 2.5em;
}
.nom-utilisateur{
    color:  var(--utilisateur);
    font-size: 1.5em;
    font-weight: 700;
}
.texte-utilisateur{
    margin-bottom: 1em;
    color:  var(--utilisateur2);
    font-weight: 500;
}
.card{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0,0,0, 0.3);
    margin:2em 2em;
}
.card1{
    background-color:var(--card-color);
}
.card2{
    width: 97%;
    height: 220px;
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0,0,0, 0.3);
    margin: 2em 1em 5em 2em;
    background-color:var(--card-color);
    color: var(--color-card2);
}


.container-center{
    width: 40%;
    margin: 5em 0 0 4em;
    display: flex;
}

.container-home{
    background-color: var(--body_background2);
    display: flex;
    width: 100%;
    overflow-x: auto; 
    overflow-y: hidden;
}

.container-home2{
    background-color: var(--body_background);
}

.container-link{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--container-link);
  font-size: 0.9em;
}
.container-navbar-left{
    width: 250px;
    height: 100%;
    background-color: var(--container-navbar-left);
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0,0,0, 0.3);
    margin:8px;
}
.container-logo{
    margin: 2em auto 6em;
    width: 25%;
}
.history-entree{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5em;
    margin-bottom: -1.5em;
    margin-left: 4em;

}
.history1{
margin-top: 2em;
}
.history-nom{
    width: 15%;
}
.history-date{
    width: 45%;
}
.history-title-entry{
    margin: -1em 0em 0em 2em;
    color: var(--title-card3);
    font-weight: 200;
    font-size: 1.4em;
}
.image-icone{
    margin-right: 25px;
}
.image-card{
    margin-top: -1.5em;
    margin-right: -2.2em;
}
.image-utilisateur{
    margin-top: 1em;
}
input:checked + .button{
   /* background-color: #2c2a2a;*/
   background-image: linear-gradient(#6baace, #264783);
}
input:checked + .button::before{
   transform: translateX(30px);
}
input[type="checkbox"]{
    display: none;
}
.ligne{
    width: 8em;
    height: 0.1em;
    background-color: #216464;
    margin-top: -3em;
    margin-left: 3.9em;
}
.logo{
    width: 8em;
    margin: 2em -3em 0em;
}
.main-card{
    display: flex;
    width: 66em;
    margin: 0em auto 0;
}
.title-link{
    margin:3em 0 0 2.9em;
    color:rgba(255, 255, 255, 0.5);
    font-size: 0.95em;
}
.title-card1{
    color:var(--title-card1);
}
.title-card3{
    width: 12em;
    margin: 2em;
    margin-left: -1.8em;
    color: var(--title-card3);
    text-transform: uppercase;
    font-weight: 350;
}
.title-logo{
   /* background: linear-gradient(to top,#1aa7ec,#4adede);
    -webkit-background-clip: text;
    background-clip: text;*/
    color: #1aa7ec;
    margin-top:0.2em;
    margin: 1em 0 0 -1em;
    font-size: 1.6em;
}
.sortie{
    width: 15px;
    height: 15px;
}
.navbar{
    margin-top:-1.5em
}