/*Body*/

.btn{
    margin-left: 30%;
    margin-bottom: 3em;
    outline: none;
    border: none;
    background-color: #077191;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    padding: 10px 50px;
}

.btn:hover{
    background-color: #08b6c2;
}
.container{
        height: 100vh;
        background-color: rgb(222, 240, 248);
        overflow: hidden;
    }
.form-container{
    display: flex;
    height:30em;
    width: 55em;
    box-shadow:10px 10px 15px rgba(1, 105, 146, 0.3);
   position: absolute;
   top:  52%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.form-text{
    height:30em;
    width: 25em;
    background-color:  #3193b1;
}
.form-log{
    height:30em;
    width: 30em;
    background-color: white;
}
form{
    margin: 2em auto 0;
}
h1{
    color: #08475a;
    font-weight: 300;
    text-align: center;
}
.title{
    color: #077191;
}
.img{
    width: 1.5em;
    padding-top: 5px;
    padding-right: 20px;
}
.input-field{
    display: flex; 
    padding:0 50px 0 20px;
    width: 60%;
    background-color: #edf5f5;
    margin: 2.5em auto ;
    border-radius: 20px;
}
.form-log input{
    background: none;
    border: none;
    padding: 8px;
    font-size: 1em;
}
input:focus{
    outline: none;
  
}
input:placeholder-shown{
    color:#edf5f5;
    font-size: 0.9em;
}

.link{
    margin: 29%;
    text-decoration: none;
    color: #06597a;
}
.link:hover{
    color: #088dc2;
}
.main{
    display: none;
    width: 15em;
transform: translate(6em,-3em);
}

.text{
    width: 75%;
    margin: 10em auto 5em;
    color: #ffffffdc;
    line-height: 2em;
    text-align: center;
    font-size: 1em;
}

.title{
    margin-bottom: 1.8em;
}

.cercle{
    width: 15em;
    height:15em;
    border-radius: 50%;
    background-color:#08b6c2;
    margin-top: -4.5em;
    margin-left: -7em;
}

.cercle2{
    width: 15em;
    height:15em;
    border-radius: 50%;
background-color: #08b6c2;
    float: right;
    margin-top: 21em;
    margin-right: -7em;
}


/*.container{
    height: 100vh;
  background-color: rgb(212, 217, 243);
}
.form-container{
display: flex;
height:30em;
width: 55em;
position: absolute;
top:  50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: #fff;
}
.main{
    width: 25em;
transform: translate(0em,3em);
}

.form-log{
    height:28em;
    width: 22em;
margin-left: 3em;
}
form{
    margin: 2em auto 0;
}
h1{
    color: #010b1f;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5em;
}
.img{
    width: 1.5em;
    padding-top: 5px;
    padding-right: 20px;
}
.input-field{
    display: flex; 
    padding:0 50px 0 20px;
    width: 60%;
    background-color: #faf6f6;
    margin: 2em auto ;
    border: 0.2px solid #cecbcb;
}
.form-log input{
    background: none;
    border: none;
    padding: 8px;
    font-size: 1em;
}
input:focus{
    outline: none;
}
input:placeholder-shown{
    color:#c4c1c1;
    font-size: 0.8em;
}

.link{
    margin: 20%;
    text-decoration: none;
    color: #091e49;;
}
.link:hover{
   color: #010b1f;
}

.btn{
    margin-left: 22%;
    margin-top: 1em;
    margin-bottom: 2em;
    outline: none;
    border: none;
    background-color: #0b1b3a;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    padding: 10px 50px;
}

.btn:hover{
    background-color: #4108834f;
}*/