@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.bodyConnection
{
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(11, 27, 58);
    font-family: 'Poppins', sans-serif;
}
.containerConnection{
    display: flex;
    flex-direction: column;

}
.connection
{
    position: relative;
    margin-left: 6%;
    width: 90%;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 0 40px;
    grid-template-rows: auto;
}

.connection .box
{
    
    position: relative;
    height: 400px;
    background: rgb(11, 27, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.connection .box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
    -webkit-transform: skew(2deg,2deg);
    -moz-transform: skew(2deg,2deg);
    -ms-transform: skew(2deg,2deg);
    -o-transform: skew(2deg,2deg);
}
.connection .box::after
{ 
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255,0.1);
    pointer-events: none;

}

/*connection .box:nth-child(1)::before
{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}connection .box:nth-child(2)::before
{
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}connection .box:nth-child(3)::before
{
    background: linear-gradient(315deg,#e91e36,#5d02ff);
}

*/
.contentConnection{
    position: relative;
    padding: 20px;
    margin-left: -60px;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
}
.contentConnection .numero {
    position: absolute;
    top: -120px;
    right: -70px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color:rgba(255, 255, 255, .05);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.box:hover .contentConnection .numero
{
    top: -180px;
}
.titre
{
     margin: 0 -20px 10px;
     padding: 0;
     font-size: 30px;
     font-weight: 500px;
     color: #fff;
}
.box .contentConnection .paragrapheConnection
{
    margin-left: -20px;
    padding: 0;
    color:#fff;
    font-size: 16px;
}
.box .contentConnection .btnConnection
{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #1e6a96;
    display: inline-block;
    color:#1e6a96;
    transition: 0.5s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .contentConnection .btnConnection
{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .contentConnection .btnConnection:hover
{
    color:#000;
    background: #1e6a96;
}

.headerConnection {
    margin-left: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: rgb(11, 27, 58);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
.btnConnectionAdmin{
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #1e6a96;
    display: inline-block;
    color:#1e6a96;
}
.btnConnectionAdmin:hover {
    color:#fff;
    background: #1e6a96;
}
