@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.bodyConnection
{
    margin-left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: 'Poppins', sans-serif;
}*/

.containerConnection
{
    position: relative;
    margin-left: 6%;
    width: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 0 40px;
    grid-template-rows: auto;
}

.containerConnection .box
{
    
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    width: 300px;
}
.containerConnection .box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
 
}
.containerConnection .box::after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255,0.1);
    pointer-events: none;

}

/*
.containerConnection .box:nth-child(1)::before
{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
.containerConnection .box:nth-child(2)::before
{
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.containerConnection .box:nth-child(3)::before
{
    background: linear-gradient(315deg,#e91e36,#5d02ff);
}

*/
.contentConnection{
    position: relative;
    padding: 20px;
    margin-left: -60px;
    transform: translateY(40px);
}
.contentConnection .numero {
    position: absolute;
    top: -120px;
    right: -70px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color:rgba(255, 255, 255, .05);
    transition: 0.5s;
}
.box:hover .contentConnection .numero
{
    top: -180px;
}
.box .contentConnection .titre
{
     margin: 0 -20px 10px;
     padding: 0;
     font-size: 30px;
     font-weight: 500;
     color: #fff;
}
.box .contentConnection .paragrapheConnection
{
    margin-left: -20px;
    padding: 0;
    color:#fff;
    font-size: 16px;
}
.box .contentConnection .btnConnection
{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #1e6a96;
    display: inline-block;
    color:#1e6a96;
    transition: 0.5s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .contentConnection .btnConnection
{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.box .contentConnection .btnConnection:hover
{
    color:#000;
    background: #1e6a96;
}