@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@6008display=swap');

/*.block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:80%;
    height: 500px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.block input{
    width: 20em;
    justify-content: space-between;
}*/

body {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(135deg #3f1a22 10%, #0d2549 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  